---
---

<main class="min-h-screen mx-auto max-w-6xl">
    <slot>
        <p>
            Placeholder content in DefaultMain.astro. If this is displayed, the
            DefaultMain component was not used correctly.
        </p>
    </slot>
</main>
