---
import DefaultMain from "../components/DefaultMain.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 Content Not Found">
    <DefaultMain>
        <h1 class="text-6xl">404</h1>
        <p>Nothing seems to exist at the current url address.</p>
    </DefaultMain>
</Layout>
