---
import DefaultMain from "../components/DefaultMain.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
    <DefaultMain>
        <h1 class="text-6xl">About</h1>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias
            ipsum iusto esse repudiandae delectus voluptatibus unde. Cupiditate
            voluptas dolor beatae itaque eos culpa magnam, nostrum, voluptate
            expedita excepturi ab aut.
        </p>
    </DefaultMain>
</Layout>
