---
import DefaultMain from "../components/DefaultMain.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contact">
    <DefaultMain>
        <h1 class="text-6xl">Contact</h1>
        <p>Hmm</p>
    </DefaultMain>
</Layout>
